.case-card{
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 36px 50px;
	border-radius: 6px;
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
	&>*+*{margin-top: 20px;}
	@media (max-width: 1439px) {
		padding: 36px ;
	}
	@media (max-width: 767px) {
	box-shadow: none;
	padding: 0;
	}
}
.case-card-list{
	
	column-gap:30px;
	li{align-items: flex-end;}
	.font_20{
		flex-grow:1;
		@media (max-width: 767px) {
		font-size: 12px;
		}
		
	}
	.h-22{
		white-space: nowrap;
		flex-shrink: 0;
		text-align: left;
		min-width: 140px;
		@media (max-width: 767px) {
		 font-size: 12px;
		 min-width: 90px;
		}
	}
	li+li{margin-top: 11px;}
}
.border-accent{
	border: 1px solid #dbbe83;
	border-radius: 6px;
	padding: 36px 25px;
	@media (max-width: 1023px) {
	 padding: 20px 15px;
	}
}
.case-card__row{
	display: grid;
	grid-template-columns: 60% 38%;
	gap:19px;
	@media (max-width: 1023px) {
	  display: flex;
	  flex-direction: column-reverse;
	  gap:10px;
	}
}
.case-card__group.flex{
	flex-direction: column;
	row-gap:20px;
	@media (max-width: 1023px) {
	  gap:10px;
	  flex-direction: column-reverse;
	}
}
.case-card-desc{
	flex:1;
	&>*+*{margin-top: 14px;}
	
}
.case-card__img{
	flex-direction: column;
	row-gap:28px;
	.h-20{
		span{display: block;}
		@media (max-width: 767px) {
		font-size: 12px;
		span:first-child{font-weight: 400;}
		}
	}
	@media (max-width: 1023px) {
	  height: 300px;
	  flex-direction: row;
	  column-gap:40px;
	}
	@media (max-width: 767px) {
	  height: 194px;
	  
	  column-gap:15px;
	}
}
.case-card__doc{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	img{
		filter: drop-shadow( 0 4px 20px rgba(0, 0, 0, 0.1));
	}
	@media (max-width: 1023px) {
		flex-grow: 0;
		width: fit-content;
		max-width: 200px;
	}
	@media (max-width: 767px) {
	  width: 112px;
	  flex-shrink: 0;
	  
	}
}
.case-card__bottom{
	.h-32{
		@media (max-width: 1199px) {
			font-size: 28px;
		}
		@media (max-width: 1023px) {
		  font-weight: 400;
		  font-size: 22px;
		}
		@media (max-width: 767px) {
		font-size: 18px;
		}
	}
}
/*cases-swiper*/
.cases-swiper{
	padding: 20px;
}