.header-inner{
	padding-block: 20px;
	.logo{
		height: 30px;
		margin-right: 90px;
		*>*{
			height: 100%;
			width: auto;
			max-width: 152px;
			object-fit: contain;
		}
	}
}
.header-inner .btn-accent{
	height: 34px;
	padding-left: 20px;
	padding-right: 20px;
}
.header-inner-menu{
	flex:1;
	align-items: center;
	column-gap: 38px;
}
.header-menu__list{
	display: flex;
	column-gap: 44px;
	flex:1;
}
.header-menu__link{
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.01em;
	text-align: center;
	color: var(--text);
	transition: .3s;
	padding-block: 5px;
	&:hover{
		color: var(--accent);
	}
}