//CASES
section.cases.py-130
	.container
		h2.h2.mb-60 Кейсы
		.case-card
			//TOP ROW
			.case-card__row
				.case-card__group.flex
					ul.case-card-list.border-accent
						li.flex
							span.font_20 Исковые требования:
							span.h-22 5 000 000&nbsp;&#8381;
						li.flex
							span.font_20 Стоимость в отчете об оценке:
							span.h-22 2 330 000&nbsp;&#8381;
						li.flex
							span.font_20 Процент снижения:
							span.h-22 53,4 %
						li.flex
							span.font_20 Экономия:
							span.h-22 2 670 000&nbsp;&#8381;
					
					
					.case-card-desc.border-accent.font_18
						p #[strong Задача]: оценка рыночной стоимости вертолета на момент крушения
						p #[strong Решение]: нашим оценщиком была проведена оценка рыночной стоимости вертолета путем объявлений о продаже вертолетов аналогичной модели в сопоставимом техническом состоянии, актуальных на дачу чрезвычайного происшествия
						p #[strong Результат]: отчет об оценке выполненный компанией ООО ПМ-Консалт был признан судьей надлежащим доказательством по делу о размере компенсации собственнику вертолета
				
				//IMAGE
				.case-card__img.border-accent.flex
					.h-20
						span Сфера:
						span судебные споры
					
					.case-card__doc
						img.img-contain(src='./img/case.webp', srcset='./img/case@2x.webp 2x' width='314' height='432' loading='lazy' alt='img')
			
			//BOTTOM ROW
			.case-card__bottom.border-accent.txt-center
				.h-32 Сэкономили #[strong 2 670 000&nbsp;&#8381;]<br>на компенсации за разбитый вертолет