header.header-inner#header
	.container
		.header-inner__content.flex-center-y
			a.logo(href="index.html")
				img.img-contain(src='./img/logo.webp', srcset='./img/logo@2x.webp 2x'  height='30'  alt='logo')
			//menu-wrapper
			.header-inner-menu.flex#header-menu
				//logo in mob menu
				a.logo-mobile(href="index.html")
					img.img-contain(src='./img/logo-mobile.webp', srcset='./img/logo-mobile@2x.webp 2x'  height='24'  alt='logo')
				
				//menu
				ul.header-menu__list
					li.header-menu__item.active
						a(href="#!").header-menu__link Услуги
					li.header-menu__item
						a(href="#!").header-menu__link О нас
					li.header-menu__item
						a(href="#!").header-menu__link Контакты
				//social
				.social-group
					a(href="#!").social-group__link
						svg.svg-wa
							use(href='./img/sprite.svg#svg-wa')
					a(href="#!").social-group__link
						svg.svg-tg
							use(href='./img/sprite.svg#svg-tg')
				
				//button for desk
				a(href="#popup-form" data-fancybox="popupForm-desk").btn-accent.hide-mobile ЗАПИСАТЬСЯ
				
				//button for mobile
				a(href="#popup-form" data-fancybox="popupForm-mobile").btn-dark.visible-mobile ЗАЯВКА

				//work mode
				.menu-contacts.border-accent
					p.txt-accent Ежедневно с 10:00 до 22:00
					a.phone-link(href="tel:84950044344") 8 495 004 43 44
					a.phone-link(href="tel:+79262421774") +7 926 242 17 74
			
			//menu-toggle
			button.menu-toggle#menu-toggle
				span

//POPUP FORM
.popup-form-wrapper#popup-form
	.h-32.txt-center Форма обращения
	form.popup-form
		.form-item
			input.form-input(type="text" name="name" placeholder="Ваше имя")
		
		.form-item
			input.form-input(type="text" name="phone" placeholder="Номер телефона")
		
		.form-button
			button.btn-dark.w-100(type='submit') ОТПРАВИТЬ ЗАЯВКУ
			label.agree.font_12
				input(type="checkbox" name="agree_politic")
				span Даю свое  #[a(href="#!") согласие]  на обработку персональных данных