//PROMO
section.inner-promo(style="background-image: url(./img/inner-promo.webp)")
	.container
		.inner-promo__content
			.breadcrumbs
				a(href="index.html").breadcrumbs-item Главная
				a(href="#!").breadcrumbs-item Услуги
				span.breadcrumbs-item Независимая оценка имущества
			
			.inner-promo__text
				h1.h1 Оценка<br>недвижимости
				p.font_15 Оценка объектов недвижимости – это одно из наиболее востребованных направлений деятельности оценочных компаний. Оценке подлежит недвижимость, принадлежащая не только юридическим лицам, но и физическим. Оценка стоимости может потребоваться как для небольших отдельно стоящих частных  строений, так и для крупных производственных комплексов.
			
			ul.decore-list
				li Гарантия результата
				li Бесплатная прицепка
				li Страховая безопасность
			
			a.btn-dark(href="#calculation") ОСТАВИТЬ ЗАЯВКУ