//Специалист
section.specialist
	.container
		.specialist-content.flex
			.specialist-image
				img(src='./img/boss.webp', srcset='./img/boss@2x.webp 2x' width='364' height='440' loading='lazy' alt='img')
			.specialist-text
				.specialist-title
					.h2 Николай<br>Павленко
					p.txt-accent.font_20 Генеральный директор, сертифицированный оценщик, судебный эксперт
				
				p.font_15.hide-mobile Магистр ФГБОУ ВО «Российский экономический университет имени Г.В. Плеханова» по направлению «Юриспруденция» специализация «Судебная финансово-экономическая экспертиза»
				
				p.font_20.fw-600.hide-mobile Опыт работы: с 2011 года 
		
		//text for mobile
		.specialist-text-mobile
			p.font_10 Магистр ФГБОУ ВО «Российский экономический университет имени Г.В. Плеханова» по направлению «Юриспруденция» специализация «Судебная финансово-экономическая экспертиза»
			
			p.font_12.fw-600 Опыт работы: с 2011 года 