//BENEFITS
section.our-benefits.py-130
	.container
		h2.h2 Наши преимущества
		.our-benefits-cards
			//single-card
			.benefit-card
				img(src='./img/benef1.webp', srcset='./img/benef1@2x.webp 2x' width='78' height='78' loading='lazy' alt='img')
				.benefit-card__txt
					.h-22 Высокая квалификация
					p.font_15 Свидетельство о госрегистрации права на недвижимость, договор купли&#8209;продажи
			//single-card
			.benefit-card
				img(src='./img/benef2.webp', srcset='./img/benef2@2x.webp 2x' width='78' height='78' loading='lazy' alt='img')
				.benefit-card__txt
					.h-22 Знание внутренних процессов
					p.font_15 Свидетельство о госрегистрации права на недвижимость, договор купли&#8209;продажи
			//single-card
			.benefit-card
				img(src='./img/benef3.webp', srcset='./img/benef3@2x.webp 2x' width='78' height='78' loading='lazy' alt='img')
				.benefit-card__txt
					.h-22 Высокая квалификация
					p.font_15 Свидетельство о госрегистрации права на недвижимость, договор купли&#8209;продажи

			//single-card
			.benefit-card
				img(src='./img/benef4.webp', srcset='./img/benef4@2x.webp 2x' width='78' height='78' loading='lazy' alt='img')
				.benefit-card__txt
					.h-22 Высокая квалификация
					p.font_15  Свидетельство о госрегистрации права на недвижимость, договор купли&#8209;продажи
