//Документы
section.req-docs.bg-grey
	.container
		.req-docs__content
			.req-docs__title
				h2.h2.mb-40 Какие нужны документы?
				.font_15.txt-accent.fw-600 Список документов может меняться в зависимости от ситуации.
			//cards
			.req-docs__cards
				//single card
				.shadow-card
					.h-22 Сведения<br>о заказчике
					p.font_15 Паспорт или реквизиты компании.
				
				//single card
				.shadow-card
					.h-22 Право<br>на объект
					p.font_15 Свидетельство о госрегистрации права на недвижимость, договор купли-продажи, договор аренды и т.д.
				
				//single card
				.shadow-card
					.h-22 Техническая<br>инвентаризация
					p.font_15 Документы из бюро технической инвентаризации
				
				//single card
				.shadow-card
					.h-22 Имеющиеся<br>обременения
					p.font_15 Информация об имеющихся обременениях