//SERV PRICE
section.services-price.py-130
	.container
		h2.h2.mb-60 Стоимость услуги
		
		.services-price__content.flex
			ul.services-price__list
				li.flex
					img(src='./img/money.webp', srcset='./img/money@2x.webp 2x' width='68' height='68' loading='lazy' alt='img')
					p.h-22 от 5 000&nbsp;руб.<br>(зависит от сложности)
				
				li.flex
					img(src='./img/settings.webp', srcset='./img/settings@2x.webp 2x' width='68' height='68' loading='lazy' alt='img')
					p.h-22 от&nbsp;2&nbsp;до&nbsp;5<br>рабочих дней

			.services-price__column
				.font_15.w-320
					p Расчет бюджета и времени зависит от множества факторов. Мы предлагаем прозрачное ценообразование и индивидуальный подход к каждому клиенту.
				
				.font_15
					p На стоимость влияют:
					ul
						li тип оборудования (станок, энергоустановка)
						li необходимость срочного осмотра