//ЭТАПЫ
section.service-stages.bg-grey
	.container
		h2.h2 Этапы проведения<br>оценки
		
		ol.custom-order-list
			li
				.h-22 Продажа<br>или аренда
				p.font_15 Анализ запроса клиента (продажа, аренда). Определение типа оборудования и требований к отчетности. Подписание договора, фиксирующего обязанности
			
			li
				.h-22 Сбор данных<br>и документации
				p.font_15 Анализ запроса клиента (продажа, аренда). Определение типа оборудования и требований к отчетности. Подписание договора, фиксирующего обязанности
			li
				.h-22 Инструментальный<br>и визуальный осмотр
				p.font_15 Анализ запроса клиента (продажа, аренда). Определение типа оборудования и требований к отчетности. Подписание договора, фиксирующего обязанности
			li
				.h-22 Применение<br>методов оценки
				p.font_15 Анализ запроса клиента (продажа, аренда). Определение типа оборудования и требований к отчетности. Подписание договора, фиксирующего обязанности
			
			li
				.h-22 Анализ соответствия<br>стандартам
				p.font_15 Анализ запроса клиента (продажа, аренда). Определение типа оборудования и требований к отчетности. Подписание договора, фиксирующего обязанности
			li
				.h-22 Подготовка<br>отчета
				p.font_15 Анализ запроса клиента (продажа, аренда). Определение типа оборудования и требований к отчетности. Подписание договора, фиксирующего обязанности
				

