//Для чего
section.service-targets.py-130
	.container.container--column
		
		h2.h2 Зачем нужна оценка недвижимости
		.section-subtext.font_15
			p Самыми распространенными случаями, когда требуется оценка недвижимости, являются сделки купли - продажи объекта, получение кредита в банке под залог данного объекта, внесение недвижимости в уставной капитал. Так же, оценка требуется для целей страхования, налогообложения, получения недвижимости по наследству и в иных случаях. В ряде случаев, квалифицированная независимая оценка недвижимости необходима для принятия эффективных управленческих решений. Существует множество различных видов недвижимости, и каждый из них имеет свои специфические факторы, влияющие на стоимость данного объекта.
		
		.service-targets-cards.acordion
			//single card
			.card-border-accent.acordion-group
				.acordion-header
					.h-22 Продажа<br>или аренда
				.acordion-body
					p.font_15 Затратный метод оценки объекта недвижимости определяет его стоимость, исходя из затрат, необходимых на его восстановление или замещение. Доходный метод оценки объектов недвижимости определяет его стоимость, исходя из предполагаемого размера дохода, который будет приносить данная недвижимость в будущем.
			//single card
			.card-border-accent.acordion-group
				.acordion-header
					.h-22 Кредитование<br>под залог
				.acordion-body
					p.font_15 Затратный метод оценки объекта недвижимости определяет его стоимость, исходя из затрат, необходимых на его восстановление или замещение. Доходный метод оценки объектов недвижимости определяет его стоимость, исходя из предполагаемого размера дохода, который будет приносить данная недвижимость в будущем.
			//single card
			.card-border-accent.acordion-group
				.acordion-header
					.h-22 Аудит<br>и модернизация
				.acordion-body
					p.font_15 Затратный метод оценки объекта недвижимости определяет его стоимость, исходя из затрат, необходимых на его восстановление или замещение. Доходный метод оценки объектов недвижимости определяет его стоимость, исходя из предполагаемого размера дохода, который будет приносить данная недвижимость в будущем.
			//single card
			.card-border-accent.acordion-group
				.acordion-header
					.h-22 Страхование<br>недвижимости
				.acordion-body
					p.font_15 Затратный метод оценки объекта недвижимости определяет его стоимость, исходя из затрат, необходимых на его восстановление или замещение. Доходный метод оценки объектов недвижимости определяет его стоимость, исходя из предполагаемого размера дохода, который будет приносить данная недвижимость в будущем.
			//single card
			.card-border-accent.acordion-group
				.acordion-header
					.h-22 Соответствие<br>стандартам
				.acordion-body
					p.font_15 Затратный метод оценки объекта недвижимости определяет его стоимость, исходя из затрат, необходимых на его восстановление или замещение. Доходный метод оценки объектов недвижимости определяет его стоимость, исходя из предполагаемого размера дохода, который будет приносить данная недвижимость в будущем.
			//single card
			.card-border-accent.acordion-group
				.acordion-header
					.h-22 Управление<br>рисками
				.acordion-body
					p.font_15 Затратный метод оценки объекта недвижимости определяет его стоимость, исходя из затрат, необходимых на его восстановление или замещение. Доходный метод оценки объектов недвижимости определяет его стоимость, исходя из предполагаемого размера дохода, который будет приносить данная недвижимость в будущем.