
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


*, *:after, *:before {
	box-sizing: border-box;
	
}
:root {
	--text: #29282D;
	--accent: #DBBE83;
	--font-family: 'Montserrat';
}
html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--text);
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	font-size: 16px;
	
}
.lock{
	overflow: hidden; 
}
.page-content{
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}
	header.header, footer.footer{flex-shrink:0}
	main{flex-grow: 1;}
}
a,
a:hover {
	text-decoration: none;
	color: inherit;
}
*:focus{
	outline: none;
}
a[href^="tel:"],
a[href^="mailto:"] {
	white-space: nowrap;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.img-cover,.img-contain{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-contain{
	object-fit: contain;

}
input,
button, textarea{border: none;}
button:focus,
input:focus,textarea:focus{outline: none;}
button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"] {
	padding-block: 0;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
address{font-style: normal;}

input::placeholder, textarea::placeholder, textarea::placeholder{
	font-family: inherit;
	font-size: inherit;
}

.container{
	width: remy(1160);
	margin: 0 auto;
	@media (max-width: 1439px) {
	  width: 100%;
	  padding-left: 4rem;
	  padding-right: 4rem;
	  
	}
	@media (max-width: 1279px) {
	  padding-left: 3rem;
	  padding-right: 3rem;
	}
	@media (max-width: 1023px) {
	  padding-left: 2rem;
	  padding-right: 2rem;
	}
	@media (max-width: 767px) {
		padding-left: 20px;
	    padding-right: 20px;
	}
}
.container.container--column{
	
	display: flex;
	flex-direction: column;
	row-gap:40px;
	.h2{margin-bottom: 0;}
	@media (max-width: 767px) {
		row-gap:25px;
		.h2{margin-bottom: 0;}
	}

}
.social-group{
	display: flex;
	align-items: center;
	column-gap: 18px;
}
.breadcrumbs{
	&-item{
		display: inline;
		position: relative;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 0.01em;
		margin-right: 5px;
		color: var(--text);
		&:after{
			content: "/";
			padding-left: 5px;

		}
		@media (max-width: 767px) {
	 		  font-size: 8px;
		}
	}
	&-item:last-child:after{display: none;}
	
}

/*swiper*/
.swiper-button-prev,
.swiper-button-next{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 4px;
	background-color: #dbbe83;
	&:after{display: none;}
	@media (max-width: 1199px) {
		width: 50px;
		height: 50px;
	}
	@media (max-width: 1023px) {
	  top: auto;
	  bottom: 0;
	  
	}
}
.swiper-button-prev{
	left: -20px;
	transform: translateX(-30%);
	@media (max-width: 1023px) {
		left: 20px;
		transform: translateX(0);
	}
}
.swiper-button-next{
	right: -20px;
	transform: translateX(30%);
	@media (max-width: 1023px) {
		right: 20px;
		transform: translateX(0);
	}
}