
.icon-menu{
	display: inline-block;
	width: remy(18);
	height: remy(16);
	position: relative;
	span, span:after, span:before{
		height: remy(1);
		position: absolute;
		background-color: var(--text);
		left: 0;
		width: 100%;
		display: inline-block;
	}
	span{
		top: 50%;
		transform: translateY(-50%);
	}
	span:after, span:before{content:'';}
	span:after{top: remy(-5);}
	span:before{bottom: remy(-5);}
}
svg{display: inline-block;}
.svg-wa, .svg-tg{
	width: 32px;
	height: 32px;
	color: var(--accent);
	transition: .3s;
	&:hover{
		color: var(--text);
	}
}
.svg-arr-right, .svg-arr-left{
	width: 27px;
	height: 16px;
	display: inline-block;
	color: white;
}
.svg-phone,.svg-email{
	display: inline-block;
	width: 20px;
	height: 21px;
	color:#29282D;
}
.svg-email{
	width: 20px;
	height: 14px;
}