extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main-inner
		include ../sections/_inner-promo.pug
		include ../sections/_service-targets.pug
		include ../sections/_service-stages.pug
		include ../sections/_service-price.pug
		include ../sections/_required-docs.pug
		include ../sections/_our-benefits.pug
		include ../sections/_feedback.pug
		include ../sections/_cases.pug
		include ../sections/_review.pug
		include ../sections/_clients.pug
		include ../sections/_sertificates.pug
		
			
	include ../sections/_footer.pug	
			
block variables
	-var title = "Project";
